.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  table {
    width: 100%;
  }

  #container-floating{
    position: fixed;
    z-index: 1;
    /*width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;*/
  }
  
  
  .example-full-width {
    width: 100%;
  }

  #side-panel{
      margin: 10%;
      padding: 0 100px;
  }

  #content-panel{
      padding: 2%;
  }

  .example-card {
    max-width: 400px;
    margin-top: 3%;
    margin-bottom: 10%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }